/* ================= Header ============ */
header {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    margin: 0;
    padding: 0;
}
/* navbar */
nav {
    color: var(--font-color);
    float: right;
    margin: 30px 90px;
}
nav ul {
    list-style: none;
}
nav ul li {
    float: left;
    transition: 0.3s;
}
nav ul li a {
    text-decoration: none;
    color: var(--font-color);
    transition: 0.5;
    font-size: 15px;
    margin-left: 16px;
}
nav ul li:hover a {
    text-decoration: none;
    color: #591bc5;
}
nav ul li:hover {
    padding-top: 30px;
    margin-top: -30px;
    background: var(--bg-color);
    text-decoration: none;
    transform: skew(-15deg);
}
/* Logo */
.logo {
    width: 35px;
    height: 35px;
    background: var(--bg-color);
    margin: 40px 63px;
    float: left;
    transform: rotate(-5deg);
}
.logo img {
    height: 35px;
    aspect-ratio: 1/1;
}
/* Header content & title & button*/
.header-content {
    margin-top: 25%;
    text-align: center;
    color: var(--font-color);
}
.header-content h1 {
    text-transform: uppercase;
    font-size: 3em;
    letter-spacing: 1px;
}
.header-content p {
    font-size: 20px;
    line-height: 1.5;
    margin: 20px auto;
}
.header-content img {
    height: 10em;
    object-position: 0 -1em;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    border-radius: 20%;
}
.header-content button:hover {
    border-radius: 0;
}
